*{
	font-family: 'Poppins', sans-serif!important;
	margin: 0px!important;
	padding: 0px!important;

}
body{
	overflow: hidden!important;
	box-sizing: border-box!important;
}
.messaging .inbox_msg{
	width: 100%;
	height: 100vh;
}
.inbox_people {
	background: #fff;
	float: left;
	overflow: hidden;
	width: 22%;
	height: 100%;
	border-right: 1px solid #ddd;
}


.recent_heading {
	font-size: 16px;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 20px;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
	position: relative;
}

.recent_heading p {
	color: #ffffff;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
	background: #4111b1;
	font-weight: 400;
	text-align: center;
	padding: 10px 0;
}


.chat_ib h2 {
	font-size: 15px;
}

.chat_ib h5 span {
	font-size: 13px;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul li.active .chat_ib .h2{
	color: #fff!important;
}
.chat_img {
	float: left;
	width: 11%;
	margin-right: 10px;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 90vh;
	overflow-y: auto;
}

.active_chat {
	background: #ffffff;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.incoming_msg_img img {
	width: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

.mesgs{
	float: left;
	width:78%;
	height: 100vh;
	position: relative;
	overflow: hidden!important;
	display: none;
}

.mesgs::after{
	content: "";
    position: absolute;
    width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	background-color: rgb(131 133 230 / 13%);
	pointer-events: none;
	
}

.sent_msg p {
	background:#0466acc4;
	border-radius: 12px 15px 15px 0;
	font-size: 18px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px!important;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 60%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 90%;
	outline:none;
	padding: 30px 30px!important;
	font-size: 20px;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: absolute;
	left: 0;
    right: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	z-index: 8478;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 50px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
}

.messaging {
	padding: 0 0;
    overflow: hidden!important;
}

.msg_history {
	overflow-y: auto!important;
	padding-top: 20px!important;
}
#name{
	font-size: 18px;	
}
.statut_bar{
	position: relative;
	width: 100%;
	background: #5a7ae2;
	padding: 10px 20px!important;
}

.typing{
	font-size: 14px;
	display: none;
}

li{
	cursor: pointer;
	list-style: none;
	display: flex!important;
	justify-content: space-between!important;
	background: #ececec!important;
	position: relative!important;
}
li.active{
	background: #041992!important;
}
.chat_ib .statcount{
	position: absolute!important;
	right: 10px!important;
	background: #000000;
	text-align: center;
	border-radius: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	color: #fff;
	font-size: 16px;
	display: none;
}
.statut_bar{
	display: flex;
	align-items: center;
}
.statut_bar button{
	background: transparent;
	font-size: 22px;
	padding-right: 40px;
	color: #f8f8f8;
	outline: none;
	border: none;
	text-transform: capitalize;
	display: none;
	width: 40px;
}
@media screen and (min-width: 780px) {
	.inbox_people{
		display: block!important;
	}
	.statut_bar button{
		display: none!important;
	}
}

@media screen and (max-width: 780px) {
	.inbox_people{
		width: 100%;
		z-index: 1;
	}

	.mesgs{
		width: 100%;
		display:none;
	}
}